<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Vaadin Web Application</display-name>
    <distributable />
    
    
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- To load the Spring context
	 用来加载Spring Context
	 此类中配置了一个Mapping 用来响应相关的 rest请求
		dispatcherServlet.addMapping("/service/*");
	 -->
	<listener>
		<listener-class>org.activiti.explorer.servlet.WebConfigurer</listener-class>
	</listener>

	<!-- To allow session-scoped beans in Spring
	这个监听器用来支持Spring Beans的 session-scoped作用域
	-->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<!--
	这个filter
	判断请求地址是否以 "/ui"、"/VAADIN"、"/modeler.html"、"/editor-app"、"/service"、"/diagram-viewer"开头：

若否，则将请求地址添加 "/ui"
若是，判断是否以 "/service" 开头

若是，判断用户是否登陆，没登录报错，登陆则继续
若否，则继续
	-->
	<filter>
		<filter-name>UIFilter</filter-name>
		<filter-class>org.activiti.explorer.filter.ExplorerFilter</filter-class>
	</filter>
	<!--
	对 "/service" 开头的请求进行过滤，处理 jsonp 的请求：
	-->
    <filter>
        <filter-name>JSONPFilter</filter-name>
        <filter-class>org.activiti.explorer.servlet.JsonpCallbackFilter</filter-class>
    </filter>

	<filter-mapping>
		<filter-name>UIFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
    <filter-mapping>
        <filter-name>JSONPFilter</filter-name>
        <url-pattern>/service/*</url-pattern>
    </filter-mapping>
	<!--
	响应 "/ui" 、"/VAADIN" 开头的请求：
	查看 ExplorerApplicationServlet 发现出现了一大段用java拼html片段的代码，主要作用是渲染根据浏览器类型渲染不同的css：
	-->
	<servlet>
		<servlet-name>Vaadin Application Servlet</servlet-name>
		<servlet-class>org.activiti.explorer.servlet.ExplorerApplicationServlet</servlet-class>
		<init-param>
			<param-name>widgetset</param-name>
			<param-value>org.activiti.explorer.CustomWidgetset</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Vaadin Application Servlet</servlet-name>
		<url-pattern>/ui/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Vaadin Application Servlet</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>

	<!-- Session timeout on one day -->
	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>
  


</web-app>